################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/AppElogytec/.vs/AppElogytec/v16/Server/sqlite3
